
body {
    background-image: url("20191228_101650_resized.jpg");
    background-color: black;
    background-size: cover;
    font-family: "Times New Roman";
    background-repeat: no-repeat;
}

.TitleBackground {
    background-color: black;
    width: 60%; height: 200px;
    border-radius: 20px;
    margin: auto;
    display: table;
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

@keyframes example {
    50% {background-color: black;}
    50% {background-color: snow;}
}

/*Title text*/
.TitleText {
    display: table-cell;
    color: cornflowerblue;
    text-align: center;
    vertical-align: middle;
    font-size: 12.5px;
    margin-right: 100px;
    
}

/*Text1*/
.Box1 {
    background-color: black;
    width: 800px;
    height: auto;
    border-radius: 20px;
    margin: auto;
    margin-top: 80px;
    position: center;
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

.TextBox1 {
    color: cornflowerblue;
    font-size: 20px;
    text-align: center;
    word-wrap: normal;
    padding: 25px;
    font-weight: 900;
}

/*Js Commands*/

.wrapper {
    width: 800px;
    max-width: 800px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Times New Roman';
    font-weight: 100;
    font-size: 2.6em;
}

#seconds, #tens, .dots {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

button {
    border-radius: 5px;
    background-color: black;
    color: #fff;
    border: solid 1px;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 150px;
    margin: 10px;
    outline: none;
    margin-top: 20px;
}

    button:hover {
        transition: all 0.5s;
        border: solid 1px #fff;
        color: cornflowerblue;
    }

.StopW {
    background-color: black;
    height: auto;
    width: auto;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

.StopWatch {
    color: cornflowerblue;
    font-size: 30px;
    text-align: center;
    word-wrap: normal;
    padding: 25px;
    font-weight: 900;
}
